<div>
    <div>
        <div>
            <div>
                <p>MyTaskbooks</p>
            </div>
            <table>
                <tr>
                    <td>Name</td>
                    <td>Taskbook ID</td>
                    <td>Status</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr> <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr> <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr> <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr> <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr>
                
            </table>
        </div>
        <div>
            <div>
                <p>MyTaskbooks</p>
            </div>
            <table>
                <tr>
                    <td>Name</td>
                    <td>Taskbook ID</td>
                    <td>Status</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr> <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr> <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr> <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr> <tr>
                    <td>test_8237</td>
                    <td>8237</td>
                    <td>Success</td>
                    <td></td>
                </tr>
                
            </table>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p>Charts and Graph</p>
            </div>
            <div>
                img
            </div>
        </div>
    </div>
</div>